.tr:nth-child(2n + 1) {
  background-color: #D6EEEE;
  
}

.th{
    background-color: aqua;
    color: white;
}
.th,
.td{
    text-align: center;

    padding: 5px 50px;
    border: 1px solid black;
}