.friendsList{
	display: flex;
    flex-direction: column;
}

.friendsList li{
	width: 200px;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: white;
	margin-bottom: 10px;
	border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.status {
	background-color: green;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.isOutLined{
	background-color: red;
}